{% load static %}


<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <a href="index-2.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Supplier</span>
            </a>
            <ul>
                <li><a href="{% url 'create-supplier' %}">Add</a></li>
                <li><a href="{% url 'supplier-list' %}">View</a></li>

            </ul>
        </li>
         <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Buyer</span>
            </a>
            <ul>
                <li><a href="{% url 'create-buyer' %}">Add</a></li>
                <li><a href="{% url 'buyer-list' %}">View</a></li>

            </ul>
        </li>
          <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Season</span>
            </a>
            <ul>
                <li><a href="{% url 'create-season' %}">Add</a></li>
                <li><a href="{% url 'season-list' %}">View</a></li>

            </ul>
        </li>
          <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Drop</span>
            </a>
            <ul>
                <li><a href="{% url 'create-drop' %}">Add</a></li>
                <li><a href="{% url 'drop-list' %}">View</a></li>

            </ul>
        </li>
          <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Product</span>
            </a>
            <ul>
                <li><a href="{% url 'create-product' %}">Add</a></li>
                <li><a href="{% url 'product-list' %}">View</a></li>

            </ul>
        </li>
          <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Order</span>
            </a>
            <ul>
                <li><a href="{% url 'create-order' %}">Add</a></li>
                <li><a href="{% url 'order-list' %}">View</a></li>

            </ul>
        </li>
          <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Delivery</span>
            </a>
            <ul>
                <li><a href="{% url 'create-delivery' %}">Add</a></li>
                <li><a href="{% url 'delivery-list' %}">View</a></li>

            </ul>
        </li>



    </ul>
</nav>